/*** left sidebar ***/

.profile{
    border-radius: 50%;
}


#left{
    height:1000;
    background-color: #536271;
    width:100;
    padding-left:10 ;
}

#left h1{
    color:rgba(244, 113, 208, 0.67);
    font-size:1.5em;
}
#left h2{
    color:rgba(43, 248, 26, 0.47);
    font-size:1.25em
}
#left h3{
    color:rgba(250, 80, 80, 0.58);
    font-size:1.2em;
}
#left h4{
    color:rgba(229, 229, 34, 0.66);
    font-size:1.1em
}
#left ul{
    color:rgba(42, 205, 219, 0.56);
    font-size:1em;
    list-style: none;
}



body {
    background-color: #D7F9FF;
}
/**  right-side bar  ***/
#right h1{        
    color:#0fd335;
    font-size:3em;
}
#right h2{
    color:rgb(213, 229, 94);
    font-size:2em;
}
#right h3{
    color:rgba(239, 37, 37, 0.81);
    font-size:1.5em;
}
#right h4{
    color:rgba(186, 91, 9, 0.87);
    font-size:1.25em;
}
#right{
    padding-left:300;
}
h5{
    color:#8f20e0
}